.login-page {
    width: 100%;
    top: 0;
    left: 0;

    // .login-page__wrapper

    &__wrapper {
        display: none; /* Модальное окно скрыто по умолчанию */
        position: fixed; /* Фикс. Позиция на главной странице */
        z-index: 1; /* Отображение на заднем плане */
        left: 0;
        top: 0;
        width: 100%; /* 100% по ширине */
        height: 100%; /* 100% по высоте */

        overflow: auto; /* Включить прокрутку, если необходимо */
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    // .login-page__container

    &__close{
        display: block;
        width: auto;
        display: flex;
        margin-left: auto;
        background-color: inherit;
        @include adaptiv-value('font-size', 30, 15, 1);
    }
    &__container {
        background-color: #fefefe;
        margin: 15% auto; /* 15% от верха и центрировано */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Может быть больше и меньше, зависит от размеров экрана */
        box-shadow: 5px 10px 5px #666; /*Добавить тень */
        display: flex;
        flex-direction: column;
    }

    // .login-page__body

    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    // .login-page__acount

    &__acount {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include adaptiv-value("gap", 20, 5, 1);
        border-right: 1px solid black;
    }

    // .login-page__new-acount

    &__new-acount {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include adaptiv-value("gap", 20, 5, 1);
    }
}
.login-acount {
    // .login-acount__label

    &__label {
        font-weight: 700;
        @include adaptiv-value("font-size", 20, 12, 1);
    }

    // .login-acount__form

    &__form {
        display: flex;
        flex-direction: column;
        @include adaptiv-value("gap", 10, 3, 1);
        @include adaptiv-value("font-size", 16, 10, 1);
    }

    // .login-acount__form-email-label

    &__form-email-label {
        text-align: center;
    }

    // .login-acount__form-email

    &__form-email {
        padding: 5px;
        border-radius: 15px;
        box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.315);
    }

    // .login-acount__form-passwod-label

    &__form-passwod-label {
        text-align: center;
    }

    // .login-acount__form-passwod

    &__form-passwod {
        padding: 5px;
        border-radius: 15px;
        box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.315);
    }

    // .login-acount__form-btn

    &__form-btn {
        background-color: orange;
        border-radius: 15px;
        box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.315);
        @media (any-hover: hover) {
            &:hover {
                background-color: $hoverColor;
                transition: all 0.3s ease 0s;
            }
        }
    }
}
.new-acount {
    // .new-acount__label

    &__label {
        font-weight: 700;
        @include adaptiv-value("font-size", 20, 12, 1);
    }

    // .new-acount__form

    &__form {
        display: flex;
        flex-direction: column;
        @include adaptiv-value("gap", 10, 3, 1);
        @include adaptiv-value("font-size", 16, 10, 1);
    }

    // .new-acount__form-email-label

    &__form-email-label {
        text-align: center;
    }

    // .new-acount__form-email

    &__form-email {
        padding: 5px;
        border-radius: 15px;
        box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.315);
    }

    // .new-acount__form-email-label-double

    &__form-email-label-double {
        text-align: center;
    }

    // .new-acount__form-email-double

    &__form-email-double {
        padding: 5px;
        border-radius: 15px;
        box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.315);
    }

    // .new-acount__form-passwod-label

    &__form-passwod-label {
        text-align: center;
    }

    // .new-acount__form-passwod

    &__form-passwod {
        padding: 5px;
        border-radius: 15px;
        box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.315);
    }

    // .new-acount__form-passwod-label-double

    &__form-passwod-label-double {
        text-align: center;
    }

    // .new-acount__form-passwod-double

    &__form-passwod-double {
        padding: 5px;
        border-radius: 15px;
        box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.315);
    }

    // .new-acount__form-btn

    &__form-btn {
        background-color: orange;
        border-radius: 15px;
        box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.315);
        @media (any-hover: hover) {
            &:hover {
                background-color: $hoverColor;
                transition: all 0.3s ease 0s;
            }
        }
    }
}
