//<ОСНОВНОЙ БЛОК>====================================================================================================

@use "sass:math";

.redactor,
.info,
.account,
.shablon {
	@include adaptiv-value("margin-top", 65, 32, 1);
}

._valid-email {
	border: 3px solid green;
}
._no-valid-email {
	border: 3px solid red;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		outline: none;
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================

//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
